:root {
    --bgdark: #282828;
    --bglight: #3c3836;

    --fgdark: #ebdbb2;
    --fglight: #fbf1c7;

    --accent: #fe8019;
    --border: #689d6a;

    --red: #fb4934;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--bgdark);
    margin: 0;
    padding: 0;
}

form {
    padding: 6px;
}

input {
    background: var(--bglight);
    color: var(--fgdark);
    font-size: 1.2em;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--border);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
}

.content {
    display: flex;
    flex-flow: row wrap;
}

.search-box {
    background: var(--bglight);
    margin: 12px;
    border-radius: 4px;
    padding: 12px;
    flex: 1 1 100%;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.13);
}

.bookmark-box {
    background: var(--bglight);
    margin: 12px;
    border-radius: 4px;
    /*border: 4px solid var(--border);*/
    padding: 12px;
    flex: 1 1 25%;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.13);
}

.bookmark-title {
    color: var(--accent);
    margin-bottom: 5px;
    border-bottom: 2px solid var(--border);
    padding-bottom: 5px;
    text-align: center;
}

.bookmark-links a {
    color: var(--fgdark);
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    outline: none;
    text-align: center;
}

.bookmark-links a:hover {
    color: var(--red);
}
